<h1>About ECEN Capstone</h1>
<h2>ECEN 403 Students</h2>
<h4>Welcome to Senior Design! Click the button to get started. You will need to upload your resume and form your team. Use the password given in class and on Canvas to get started.</h4>
