/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  text-align: center;
  background-color: white;
  background-image: url("bg.jpeg");
  opacity: 0.9;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 200px;
 }

 .yield {
   background-color: white;
   padding: 10px;
 }

 .header {
   color: white;
   background-color: maroon;
   padding: 15px;
   margin-top: 5px;
   font-weight: 900;
   border-radius: 10px;
 }

 .footer {
  color: white;
  background-color: maroon;
  padding: 25px;
  margin-top: 20px;
  font-weight: 900;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: -20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
 
.links {
  background-color: none;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
 }

 .btn {
  text-decoration: none;
  color: red;
 }
 
 .links button {
  height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 iframe {
  border-radius: 10px;
  width: 1000px;

 }

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xxx-large;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 875px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.update_class {
  margin: 0 auto;
  width: 800px;
  color: #f8ae45;
  float: left;
  padding: 8px;
  width: 8%;
  background:#FFFFFF;
  text-align:center;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.arrow{
  width:      50px;
  height:     50px;
}
